<section data-ng-controller="ProjectsController">
    <form class="container-fluid">
        <div class="row">
            <!-- This is the start of the  standards side bar-->
            <div data-ng-controller="StandardsController" class="col-sm-2 col-sm-offset-10 col-md-4 col-md-offset-8 sidebar"> 

                    <h3 style="text-align:center">Search Standards by:</h3>
                    <div class="main row">
                        <div style="text-align:left">
                          
                          
                              <div ><span style="font-size:2em" class="blue glyphicon glyphicon-book" ></span>  Subject: 
                                <select style="height:27px; width: 175px" ng-model="search.subject">
                                  <option value="">Select one...</option>
                                  <option value="Dance">Dance</option>
                                  <option value="English Language Arts">English Language Arts</option>
                                  <option value="English Language Development">English Language Development</option>
                                  <option value="Gifted">Gifted</option>
                                  <option value="Health Education">Health Education</option>
                                  <option value="Mathematics">Mathematics</option>
                                  <option value="Music">Music</option>
                                  <option value="Physical Education">Physical Education</option>
                                  <option value="Science">Science</option>
                                  <option value="Social Studies">Social Studies</option>
                                  <option value="Special Skills">Special Skills</option>
                                  <option value="Theatre">Theatre</option>
                                  <option value="Visual Art">Visual Art</option>
                                </select>

                            </div>
                      </div>
                    </div>

                      
                          <div><span style="font-size:2em" class="gold glyphicon glyphicon-pencil" aria-hidden="true"></span>   Grade(s) :
                            <select style="height:27px; width 50px" ng-model="search.minGrade">
                              <option value="">Select one...</option>
                              <option id="min0" value="0">K</option>
                              <option id="min1" value="1">1</option>
                              <option id="min2" value="2">2</option>
                              <option id="min3" value="3">3</option>
                              <option id="min4" value="4">4</option>
                              <option id="min5" value="5">5</option>
                              <option id="min6" value="6">6</option>
                              <option id="min7" value="7">7</option>
                              <option id="min8" value="8">8</option>
                              <option id="min912" value="912">9-12</option>
                            </select> -
                            <select style="height:27px; width 50px" ng-model="search.maxGrade">
                              <option value="">Select one...</option>
                              <option id="max0" value="0">K</option>
                              <option id="max1" value="1">1</option>
                              <option id="max2" value="2">2</option>
                              <option id="max3" value="3">3</option>
                              <option id="max4" value="4">4</option>
                              <option id="max5" value="5">5</option>
                              <option id="max6" value="6">6</option>
                              <option id="max7" value="7">7</option>
                              <option id="max8" value="8">8</option>
                              <option id="max912" value="912">9-12</option>
                            </select>
                          </div>  

                <h4 class="sub-header">Search : <input id="standard" type="text" placeholder="MAFS.912.A-APR.1.1" data-ng-model="standard_search"></h4>
                <button id="submit" type="submit" class="btn btn-warning btn-block" ng-click="show = true; find(search)" style="width:50%">Submit</button>
                

                      <!--<div class="list-group">
                        <a data-ng-repeat="std in standards" data-ui-sref="admin.user({userId: user._id})" class="list-group-item">
                          <h4 class="list-group-item-heading" data-ng-bind="std.benchmark"></h4>
                          <p class="list-group-item-text" data-ng-bind="std.description"></p>
                        </a>
                      </div>
                      <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination> -->

                    <div class="panel panel-blue" ng-show="show">
                        <div class="panel-heading"> <h2 class="panel-title"> Search Results </h2></div>
                            <div class="panel-body">
                            <h4 class="search-results">Displaying standard(s) selected: </h4>
                            
                            <br>
                            <table class = "searchResults">
                             <tr class = "searchRow">
                               <th>Standard</th>
                               <th>Summary</th>
                               <th>Subject</th>
                               <th>Grade(s)</th>
                               <th>Topic</th>
                             </tr>
                               <tr class="searchRow" ng-repeat="std in standards | filter:searchText" data-drag="true" ng-model="standards" data-jqyoui-options="{revert: 'invalid', helper: 'clone', appendTo: 'body'}" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep', scroll: false}" style="width:35%">
                                <td class = "line-break">{{std.benchmark}}</td>
                                <td class = "line-break">{{std.description}}</td>
                                <td>{{std.subject}}</td>
                                <td>{{std.grade}}</td>
                                <td class = "line-break">{{std.bodyOfKnowledge}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <!--     <ul>
                 <li ng-repeat="item in testList1" ng-show="item.title" data-drag="true" ng-model="testList1" data-jqyoui-options="{revert: 'invalid', helper: 'clone', appendTo: 'body'}" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">{{item.title}}</li>
                 </ul>
                 <div class="col-sm-3 col-md-2 sidebar">
                 this is the sidebar located on the side of the page, to allow easy navigator.
                 
                 <ul class="nav nav-sidebar">
                 <li class="active">
                 <li class="active"><a href="#"><h4>Design Menu</h4></a></li>
                 <p class="text-center">
                 <li><a id="#1" href="#1">Basic Goals</a></li>
                 <li><a id="#2" href="#2">Identifying Problem</a></li>
                 <li><a id="#3" href="#3">Figuring Constraints</a></li>
                 <li><a id="#4" href="#4">Brainstorm Solutions</a></li>
                 <li><a id="#5" href="#5">Listing Materials</a></li>
                 <li><a id="#6" href="#6">E.Sketch- Math</a></li>
                 <li><a id="#7" href="#7">E.Sketch- Science</a></li>
                 <li><a id="#8" href="#8">E.Sketch- Literature</a></li>
                 <li><a id="#9" href="#9">E.Sketch- SocialStudies</a></li>
                 <li class="active"><a href="#"><H4>Help Menu</h4></a></li>
                 <li><a data-ui-sref="projects.list">View other Projects</a></li>
                 <li><a data-ui-sref="support.example">Example</a></li>
                 <li><a data-ui-sref="support.faq">FAQ</a></li>
                 </p>
                 </ul> -->
            </div>
            <!-- This is the main form with the various fileds the user has to fill out. It's linked to the database. -->
            
            <!--<div class="col-sm-7 col-sm-offset-3 col-md-8 col-md-offset-2 main" data-ng-hide="authentication.user._id==NULL" data-drop="true" ng-model='list4' jqyoui-droppable="{multiple:true}"> -->

            <div class="col-sm-7  col-md-8 main">
                
                <div style="font-size:2em; display: block;" class="sub-header">Design : <input id="name" type="text" placeholder="Project Name" data-ng-model="name">

                  <span style="font-size:55%;" data-ng-init="isPublic = true">&nbsp;&nbsp; Project is:</span>
                  <div class="btn-group" role="group" style="font-size:1em;">
                      <button type="button" class="btn" ng-class="{ 'active btn-success': (isPublic === true)}" ng-click="isPublic = true">Public</button>
                      <button type="button" class="btn" ng-class="{ 'active btn-success': (isPublic === false)}" ng-click="isPublic = false">Private</button>
                  </div>
                </div>


                <div>
                <h4 class="sub-header" style="display: inline-block;">Grade(s) : <input type="number" min="0" max="12" placeholder="3" data-ng-model="minGrade">
                    - <input type="number" min="0" max="12" placeholder="5" data-ng-model="maxGrade"></h4>

                  <span>&nbsp;&nbsp;&nbsp;</span>
                  <button style="background-color:#fbc650" type="button" class="btn" ng-class="" ng-click="addCollab(collab)">Add Collaborator</button>
                  <input type="text" placeholder="Collaborator Email" data-ng-model="collab">
                </div>

                <br>
<!-- This is the popup image div-->
                <div class="circle-container">

                  <button id="ask" popover-placement="bottom" data-toggle="popover" popover-template="'askPopOverTemplate.html'" popover-title="Ask: Identify the Needs and Constraints" type="button" class="btn btn-default deg0" ng-click="setAskButt('ask' , 'deg0');">Ask</button>

                  <script type="text/ng-template" id="askPopOverTemplate.html">
                  <div data-drop="true" data-ng-model='askStandardStep' jqyoui-droppable="{multiple:true}">
                  <a name="1"><font size = "3">What is the goal of the project?</font></a>
                  
                  <span class="glyphicon glyphicon-question-sign"
                  data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you  want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                  </span>
                  
                  <textarea class="form-control" rows="8" data-ng-model="$parent.ask.learningObjective"></textarea>     
                  <a name="2"><font size = "3">What limits are there on the design, application or materials for students in reaching their engineering goal. Get the students to realize these limits, and to design with these limits in mind</font></a>
                  
                  <span class="glyphicon glyphicon-question-sign"
                  data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                  <br>
                  <textarea class="form-control" rows="4" data-ng-model="$parent.ask.Constraints"></textarea>
                    <div class="askStandardCart">
                        <ol>
                            <li ng-repeat="item in askStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="askStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="askStandardStep.splice($index,1)"></span></li>
                            <li class="placeholder">Add your Standards here</li>
                        </ol>
                    </div>
                  </div>
                  </script>

                  <button id="research" popover-placement="left" popover-template="'researchPopOverTemplate.html'" popover-title="Research the problem" type="button" class="btn btn-default deg51" ng-click="setResearchButt('research' , 'deg51');" >Research</button>

                  <script type="text/ng-template" id="researchPopOverTemplate.html">
                  <div data-drop="true" data-ng-model='researchStandardStep' jqyoui-droppable="{multiple:true}">
                  <a name="3"><font size = "3">What do you want students to learn from their research?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="$parent.research.focus"></textarea>
                        
                        <a name="4"><font size = "3">What resources will they use?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                        <br>
                        <textarea class="form-control" rows="4" data-ng-model="$parent.research.resources"></textarea>
                        <div class="researchStandardCart">
                            <ol data-ng-model="researchStandardStep">
                                <li ng-repeat="item in researchStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="researchStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="researchStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="researchHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                      </div>
                  </script>

                  <button id="imagine" popover-placement="left" popover-template="'imaginePopOverTemplate.html'" popover-title="Imagine: Develop possible solutions" type="button" class="btn btn-default deg102" ng-click="setImagineButt('imagine' , 'deg102');">Imagine</button>

                  <script type="text/ng-template" id="imaginePopOverTemplate.html">
                  <div data-drop="true" data-ng-model='imagineStandardStep' jqyoui-droppable="{multiple:true}">
                  <a name="5"><font size = "3">Have students list possible solutions, even ones that won’t work. (They may inspire other ideas)</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="$parent.imagine.listStep"></textarea>
                        <div class="imagineStandardCart">
                            <ol data-ng-model="imagineStandardStep">
                                <li ng-repeat="item in imagineStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="imagineStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="imagineStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="imagineHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                        </div>
                  </script>

                  <button id="plan" popover-placement="top" popover-template="'planPopOverTemplate.html'" popover-title="Plan: Select a promising solution" type="button" class="btn btn-default deg153" ng-click="setPlanButt('plan' , 'deg153');">Plan</button>

                  <script type="text/ng-template" id="planPopOverTemplate.html">
                  <div data-drop="true" data-ng-model='planStandardStep' jqyoui-droppable="{multiple:true}">
                  <a name="6"><font size = "3">How should your students decide which potential solution is best?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="$parent.plan.selectStep"></textarea>
                        
                        <a name="7"><font size = "3">Students should ask: what resources does the selected solution require? What will you have ready for them to use?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                        <br>
                        <textarea class="form-control" rows="4" data-ng-model="$parent.plan.resources"></textarea>
                        <div class="planStandardCart">
                            <ol data-ng-model="planStandardStep">
                                <li ng-repeat="item in planStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="planStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="planStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="planHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                        </div>
                  </script>

                  <button id="create" popover-placement="top" popover-template="'createPopOverTemplate.html'" popover-title="Create: Build a prototype" type="button" class="btn btn-default deg207" ng-click="setCreateButt('create' , 'deg207');">Create</button>

                  <script type="text/ng-template" id="createPopOverTemplate.html">
                  <div data-drop="true" data-ng-model='createStandardStep' jqyoui-droppable="{multiple:true}">
                  <a name="8"><font size = "3">Engineers build prototypes and small models to test if their design ideas will work for their application. What kind of prototype or model will your students build? How will you support them in the building of this model?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="$parent.createStep.buildStep"></textarea>
                        <br>
                        <div class="createStandardCart">
                            <ol data-ng-model="createStandardStep">
                                <li ng-repeat="item in createStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="createStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="createStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="createHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                        </div>
                  </script>

                  <button id="test" popover-placement="right" popover-template="'testPopOverTemplate.html'" popover-title="Test and evaluate prototype" type="button" class="btn btn-default deg258" ng-click="setTestButt('test' , 'deg258');">Test/Evaluate</button>

                  <script type="text/ng-template" id="testPopOverTemplate.html">
                  <div data-drop="true" data-ng-model='testStandardStep' jqyoui-droppable="{multiple:true}">
                  <a name="9"><font size = "3">Have students design 1-2 tests to evaluate their model, changing only one variable related to the performance requirements of their idea.</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="$parent.testStep.designStep"></textarea>
                        
                        <a name="10"><font size = "3">Ask: Does the test show the model solves the problem? How well? Why does it work well/ or not work well for the application?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                        <br>
                        <textarea class="form-control" rows="4" data-ng-model="$parent.testStep.successStep"></textarea>
                        <br>
                        <div class="testStandardCart">
                            <ol data-ng-model="testStandardStep">
                                <li ng-repeat="item in testStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="testStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="testStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="testHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                        </div>
                  </script>

                  <button id="improve" popover-placement="right" popover-template="'improvePopOverTemplate.html'" popover-title="Improve: Redesign as needed" type="button" class="btn btn-default deg309" ng-click="setImproveButt('improve' , 'deg309');">Improve</button>

                  <script type="text/ng-template" id="improvePopOverTemplate.html">
                  <div data-drop="true" data-ng-model='improveStandardStep' jqyoui-droppable="{multiple:true}">
                  <a name="11"><font size = "3">Prompt: What would you change in the prototype next time?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="$parent.improveStep.changeStep"></textarea>
                        <div class="improveStandardCart">
                            <ol data-ng-model="improveStandardStep">
                                <li ng-repeat="item in improveStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="improveStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="improveStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="improveHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                        </div>
                  </script>

                </div>
                <!-- End of pop up div -->

                <br>
                <br>
                <!-- OLD FORMAT
                <div data-drop="true" data-ng-model='askStandardStep' jqyoui-droppable="{multiple:true}">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ask: Identify the needs and constraints</h3>
                    </div>


                    <div class="panel-body">

                        <a name="1"><font size = "3">What is the goal of the project?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="ask.learningObjective1"></textarea>
                        
                        <a name="2"><font size = "3">What limits are there on the design, application or materials for students in reaching their engineering goal. Get the students to realize these limits, and to design with these limits in mind</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                        <br>
                        <textarea class="form-control" rows="4" data-ng-model="ask.Constraints1"></textarea>
                        <br>
                        
                        <div class="askStandardCart">
                            <ol>
                                <li ng-repeat="item in askStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="askStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="askStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder">Add your Standards here</li>
                            </ol>
                        </div>
                        </div>
                    </div>
                </div>
                <div data-drop="true" data-ng-model='researchStandardStep' jqyoui-droppable="{multiple:true}">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">Research the problem</h3>
                    </div>
                    <div class="panel-body">
                        <a name="3"><font size = "3">What do you want students to learn from their research?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="research.focus1"></textarea>
                        
                        <a name="4"><font size = "3">What resources will they use?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                        <br>
                        <textarea class="form-control" rows="4" data-ng-model="research.resources1"></textarea>
                        <div class="researchStandardCart">
                            <ol data-ng-model="researchStandardStep">
                                <li ng-repeat="item in researchStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="researchStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="researchStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="researchHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                        </div>
                    </div>
                </div>
                <div data-drop="true" data-ng-model='imagineStandardStep' jqyoui-droppable="{multiple:true}">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">Imagine: Develop possible solutions</h3>
                    </div>
                    <div class="panel-body">
                        <a name="5"><font size = "3">Have students list possible solutions, even ones that won’t work. (They may inspire other ideas)</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="imagine.listStep1"></textarea>
                        <div class="imagineStandardCart">
                            <ol data-ng-model="imagineStandardStep">
                                <li ng-repeat="item in imagineStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="imagineStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="imagineStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="imagineHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                        </div>
                    </div>
                </div>
                <div data-drop="true" data-ng-model='planStandardStep' jqyoui-droppable="{multiple:true}">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">Plan: Select a promising solution</h3>
                    </div>
                    <div class="panel-body">
                        <a name="6"><font size = "3">How should your students decide which potential solution is best?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="plan.selectStep1"></textarea>
                        
                        <a name="7"><font size = "3">Students should ask: what resources does the selected solution require? What will you have ready for them to use?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                        <br>
                        <textarea class="form-control" rows="4" data-ng-model="plan.resources1"></textarea>
                        <div class="planStandardCart">
                            <ol data-ng-model="planStandardStep">
                                <li ng-repeat="item in planStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="planStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="planStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="planHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                    </div>
                </div>
                </div>
                <div data-drop="true" data-ng-model='createStandardStep' jqyoui-droppable="{multiple:true}">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create: Build a prototype</h3>
                    </div>
                    <div class="panel-body">
                        <a name="8"><font size = "3">Engineers build prototypes and small models to test if their design ideas will work for their application. What kind of prototype or model will your students build? How will you support them in the building of this model?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="createStep.buildStep1"></textarea>
                        <br>
                        <div class="createStandardCart">
                            <ol data-ng-model="createStandardStep">
                                <li ng-repeat="item in createStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="createStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="createStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="createHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                    </div>
                </div>
                </div>
                <div data-drop="true" data-ng-model='testStandardStep' jqyoui-droppable="{multiple:true}">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">Test and evaluate prototype</h3>
                    </div>
                    <div class="panel-body">
                        <a name="9"><font size = "3">Have students design 1-2 tests to evaluate their model, changing only one variable related to the performance requirements of their idea.</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="testStep.designStep1"></textarea>
                        
                        <a name="10"><font size = "3">Ask: Does the test show the model solves the problem? How well? Why does it work well/ or not work well for the application?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                        <br>
                        <textarea class="form-control" rows="4" data-ng-model="testStep.successStep1"></textarea>
                        <br>
                        <div class="testStandardCart">
                            <ol data-ng-model="testStandardStep">
                                <li ng-repeat="item in testStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="testStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="testStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="testHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                    </div>
                </div>
                </div>
                <div data-drop="true" data-ng-model='improveStandardStep' jqyoui-droppable="{multiple:true}">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">Improve: Redesign as needed</h3>
                    </div>
                    <div class="panel-body">
                        <a name="11"><font size = "3">Prompt: What would you change in the prototype next time?</font></a>
                        <span class="glyphicon glyphicon-question-sign"
                            data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                        </span>
                        <br>
                        <textarea class="form-control" rows="8" data-ng-model="improveStep.changeStep1"></textarea>
                        <div class="improveStandardCart">
                            <ol data-ng-model="improveStandardStep">
                                <li ng-repeat="item in improveStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="improveStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="improveStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="improveHideMe()">Add your Standards here</li>
                            </ol>
                        </div>
                    </div>
                </div>
                </div>
              -->

                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">Worksheet Upload</h3>
                    </div>
                    <div class="panel-body">
                        
                        <font size="3">If you would like to upload a worksheet for your project to share, you can do so here:</font><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                        <br>
                        
                        <!-- Picture upload -->
                        <div class="form-group text-center">
                            <img data-ng-src="{{imageURL}}" alt="No Picture Uploaded Yet" class="img-thumbnail">
                                </div>
                        <div class="text-center form-group">
                            <span class="btn btn-default btn-file">
                                Select Image <input type="file" nv-file-select uploader="uploaderC" accept="image/jpeg">
                                    </span>
                        </div>

                        <br>
                    </div>
                </div>
                
                        <!-- An absolutely horrible way to solve the bottom problem -->
                        <span data-ng-init="essentialDetails.mathDetails.subjectName = 'Mathematics'"></span>
                        <span data-ng-init="essentialDetails.scienceDetails.subjectName = 'Science'"></span>
                        <span data-ng-init="essentialDetails.litDetails.subjectName = 'Literature'"></span>
                        <span data-ng-init="essentialDetails.ssDetails.subjectName = 'SocialStudies'"></span>
                        <!-- An absolutely horrible way to solve the bottom problem -->

                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <button type="button" class="btn btn-success btn-block btn-lg" data-ng-click="status = 'Active'; create();">Submit</button>
                    </div>
                    <div class="col-md-3 col-md-offset-4">
                        <button id="save" type="button" class="btn btn-primary btn-block btn-lg" data-ng-click="status = 'In Progress'; create()";>Save Draft</button>
                    </div>
                </div>
                
            </div>
            <!-- The form has ended. Below are the buttons to submit the informaton, which will link it to the database. -->
            
            <div class="col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-3 main">
                <span data-ng-show="authentication.user._id===NULL">
                    <div class="alert alert-success" role="alert">
                        <p>Please sign in or sign up before you create a project</p>
                        <p><a data-ui-sref="authentication.signup" class="alert-link">Click here to signup</a></p>
                        <p><a data-ui-sref="authentication.signin" class="alert-link">Click here to signin</a></p>
                    </div>
                </span>
            </div>
        </div>
    </form>
</section>
