<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div data-ng-show="project.user._id">
        <form class="container-fluid">
            <div class="row" data-ng-show="projectOwnership">
                <div data-ng-controller="StandardsController" class="col-sm-2 col-sm-offset-10 col-md-4 col-md-offset-8 sidebar">
                
                <h3 style="text-align:center">Search Standards by:</h3>
                <div class="main row">
                    <div style="text-align:left">
                        <div ><span style="font-size:2em" class="blue glyphicon glyphicon-book" ></span>  Subject:
                            <select style="height:27px; width: 175px" ng-model="search.subject">
                                <option value="">Select one...</option>
                                <option value="Dance">Dance</option>
                                <option value="English Language Arts">English Language Arts</option>
                                <option value="English Language Development">English Language Development</option>
                                <option value="Gifted">Gifted</option>
                                <option value="Health Education">Health Education</option>
                                <option value="Mathematics">Mathematics</option>
                                <option value="Music">Music</option>
                                <option value="Physical Education">Physical Education</option>
                                <option value="Science">Science</option>
                                <option value="Social Studies">Social Studies</option>
                                <option value="Special Skills">Special Skills</option>
                                <option value="Theatre">Theatre</option>
                                <option value="Visual Art">Visual Art</option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div><span style="font-size:2em" class="gold glyphicon glyphicon-pencil" aria-hidden="true"></span>   Grade(s) :
                    <select style="height:27px; width 50px" ng-model="search.minGrade">
                        <option value="">Select one...</option>
                        <option id="min0" value="0">K</option>
                        <option id="min1" value="1">1</option>
                        <option id="min2" value="2">2</option>
                        <option id="min3" value="3">3</option>
                        <option id="min4" value="4">4</option>
                        <option id="min5" value="5">5</option>
                        <option id="min6" value="6">6</option>
                        <option id="min7" value="7">7</option>
                        <option id="min8" value="8">8</option>
                        <option id="min912" value="912">9-12</option>
                    </select> -
                    <select style="height:27px; width 50px" ng-model="search.maxGrade">
                        <option value="">Select one...</option>
                        <option id="max0" value="0">K</option>
                        <option id="max1" value="1">1</option>
                        <option id="max2" value="2">2</option>
                        <option id="max3" value="3">3</option>
                        <option id="max4" value="4">4</option>
                        <option id="max5" value="5">5</option>
                        <option id="max6" value="6">6</option>
                        <option id="max7" value="7">7</option>
                        <option id="max8" value="8">8</option>
                        <option id="max912" value="912">9-12</option>
                    </select>
                </div>
                <h4 class="sub-header">Search : <input id="standard" type="text" placeholder="MAFS.912.A-APR.1.1" data-ng-model="standard_search"></h4>
                <button id="submit" type="submit" class="btn btn-warning btn-block" ng-click="show = true; find(search)" style="width:50%">Search</button>
                
                <div class="panel panel-blue" ng-show="show">
                    <div class="panel-heading"> <h2 class="panel-title"> Search Results </h2></div>
                    <div class="panel-body">
                        <h4 class="search-results">Displaying standard(s) selected: </h4>
                        <!--Table containing the search results taken from the schema-->
                        <br>
                        <table class = "searchResults">
                            <tr class = "searchRow">
                                <th>Standard</th>
                                <th>Summary</th>
                                <th>Subject</th>
                                <th>Grade(s)</th>
                                <th>Topic</th>
                            </tr>
                            <tr class="searchRow" ng-repeat="std in standards | filter:searchText" data-drag="true" ng-model="standards" data-jqyoui-options="{revert: 'invalid', helper: 'clone', appendTo: 'body'}" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}" style="width:35%">
                                <td class = "line-break">{{std.benchmark}}</td>
                                <td class = "line-break">{{std.description}}</td>
                                <td>{{std.subject}}</td>
                                <td>{{std.grade}}</td>
                                <td class = "line-break">{{std.bodyOfKnowledge}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <!--     <ul>
                 <li ng-repeat="item in testList1" ng-show="item.title" data-drag="true" ng-model="testList1" data-jqyoui-options="{revert: 'invalid', helper: 'clone', appendTo: 'body'}" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">{{item.title}}</li>
                 </ul>
                 <div class="col-sm-3 col-md-2 sidebar">
                 this is the sidebar located on the side of the page, to allow easy navigator.
                 
                 <ul class="nav nav-sidebar">
                 <li class="active">
                 <li class="active"><a href="#"><h4>Design Menu</h4></a></li>
                 <p class="text-center">
                 <li><a id="#1" href="#1">Basic Goals</a></li>
                 <li><a id="#2" href="#2">Identifying Problem</a></li>
                 <li><a id="#3" href="#3">Figuring Constraints</a></li>
                 <li><a id="#4" href="#4">Brainstorm Solutions</a></li>
                 <li><a id="#5" href="#5">Listing Materials</a></li>
                 <li><a id="#6" href="#6">E.Sketch- Math</a></li>
                 <li><a id="#7" href="#7">E.Sketch- Science</a></li>
                 <li><a id="#8" href="#8">E.Sketch- Literature</a></li>
                 <li><a id="#9" href="#9">E.Sketch- SocialStudies</a></li>
                 <li class="active"><a href="#"><H4>Help Menu</h4></a></li>
                 <li><a data-ui-sref="projects.list">View other Projects</a></li>
                 <li><a data-ui-sref="support.example">Example</a></li>
                 <li><a data-ui-sref="support.faq">FAQ</a></li>
                 </p>
                 </ul> -->
            </div>
            <div class="col-sm-7  col-md-8 main" data-ng-hide="authentication.user._id==NULL">
                  
                    <div style="font-size:2em; display: block;" class="sub-header">Design : <input id="name" type="text" placeholder="{{project.name}}" data-ng-model="project.name">

                  <span style="font-size:55%;" data-ng-init="isPublic = true">&nbsp;&nbsp; Project is:</span>
                  <div class="btn-group" role="group" style="font-size:1em;">
                      <button type="button" class="btn" ng-class="{ 'active btn-success': (isPublic === true)}" ng-click="isPublic = true">Public</button>
                      <button type="button" class="btn" ng-class="{ 'active btn-success': (isPublic === false)}" ng-click="isPublic = false">Private</button>
                  </div>
                </div>


                <div>
                <h4 class="sub-header" style="display: inline-block;">Grade(s) : <input type="number" min="0" max="12" placeholder="3" data-ng-model="project.minGrade">
                    - <input type="number" min="0" max="12" placeholder="5" data-ng-model="project.maxGrade"></h4>

                  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <button style="background-color:#fbc650" type="button" class="btn" ng-class="" ng-click="editCollab(collab)" data-ng-show="authentication.user._id === project.user._id">Add Collaborator</button>
                  <input type="text" placeholder="Collaborator Email" data-ng-model="collab" data-ng-show="authentication.user._id === project.user._id">
                </div>
                   
                    <div data-drop="true" data-ng-model='project.askStandardStep' jqyoui-droppable="{multiple:true}">
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ask: Identify the needs and constraints</h3>
                        </div>
                        <div class="panel-body">
                            <a name="1"><font size = "3">What is the goal of the project?</font></a>
                            <span class="glyphicon glyphicon-question-sign"
                                data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you  want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                            </span>
                            <br>
                            <textarea class="form-control" rows="8" data-ng-model="project.ask.learningObjective"></textarea>
                            
                            <a name="2"><font size = "3">What limits are there on the design, application or materials for students in reaching their engineering goal. Get the students to realize these limits, and to design with these limits in mind</font></a>
                            <span class="glyphicon glyphicon-question-sign"
                                data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                            <br>
                            <textarea class="form-control" rows="4" data-ng-model="project.ask.Constraints"></textarea>
                            <br>
                            <div class="askStandardCart">
                            <!--<div class="ui-widget-content">
                             if this is wanted then add (adds a grey box which can be done a diff way probably) <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" /> to layout.server.view.html-->
                            <ol>
                                <li ng-repeat="item in project.askStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="project.askStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="project.askStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="askHideMe()">Add your Standards here</li>
                            </ol>
                            <!-- </div> -->

                        </div>
                        </div>
                    </div>
                    </div>
                    <div data-drop="true" data-ng-model='project.researchStandardStep' jqyoui-droppable="{multiple:true}">
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title">Research the problem</h3>
                        </div>
                        <div class="panel-body">
                            <a name="3"><font size = "3">What do you want students to learn from their research?</font></a>
                            <span class="glyphicon glyphicon-question-sign"
                                data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you  want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                            </span>
                            <br>
                            <textarea class="form-control" rows="8" data-ng-model="project.research.focus"></textarea>
                            
                            <a name="4"><font size = "3">What resources will they use?</font></a>
                            <span class="glyphicon glyphicon-question-sign"
                                data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                            <br>
                            <textarea class="form-control" rows="4" data-ng-model="project.research.resources"></textarea>
                            <br>
                            <div class="researchStandardCart">
                            <!--<div class="ui-widget-content">
                             if this is wanted then add (adds a grey box which can be done a diff way probably) <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" /> to layout.server.view.html-->
                            <ol>
                                <li ng-repeat="item in project.researchStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="project.researchStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="project.researchStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="researchHideMe()">Add your Standards here</li>
                            </ol>
                            <!-- </div> -->
                        </div>
                        </div>
                    </div>
                    </div>
                    <div data-drop="true" data-ng-model='project.imagineStandardStep' jqyoui-droppable="{multiple:true}">
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title">Imagine: Develop possible solutions</h3>
                        </div>
                        <div class="panel-body">
                            <a name="5"><font size = "3">Have students list possible solutions, even ones that won’t work. (They may inspire other ideas)</font></a>
                            <span class="glyphicon glyphicon-question-sign"
                                data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you  want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                            </span>
                            <br>
                            <textarea class="form-control" rows="8" data-ng-model="project.imagine.listStep"></textarea>
                            <br>
                            <div class="imagineStandardCart">
                            <!--<div class="ui-widget-content">
                             if this is wanted then add (adds a grey box which can be done a diff way probably) <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" /> to layout.server.view.html-->
                            <ol>
                                <li ng-repeat="item in project.imagineStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="project.imagineStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="project.imagineStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="imagineHideMe()">Add your Standards here</li>
                            </ol>
                            <!-- </div> -->
                        </div>
                        </div>
                    </div>
                    </div>
                    <div data-drop="true" data-ng-model='project.planStandardStep' jqyoui-droppable="{multiple:true}">
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title">Plan: Select a promising solution</h3>
                        </div>
                        <div class="panel-body">
                            <a name="6"><font size = "3">How should your students decide which potential solution is best?</font></a>
                            <span class="glyphicon glyphicon-question-sign"
                                data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you  want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                            </span>
                            <br>
                            <textarea class="form-control" rows="8" data-ng-model="project.plan.selectStep"></textarea>
                            
                            <a name="7"><font size = "3">Students should ask: what resources does the selected solution require? What will you have ready for them to use?</font></a>
                            <span class="glyphicon glyphicon-question-sign"
                                data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                            <br>
                            <textarea class="form-control" rows="4" data-ng-model="project.plan.resources"></textarea>
                            <br>
                            <div class="planStandardCart">
                            <!--<div class="ui-widget-content">
                             if this is wanted then add (adds a grey box which can be done a diff way probably) <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" /> to layout.server.view.html-->
                            <ol>
                                <li ng-repeat="item in project.planStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="project.planStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="project.plamStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="planHideMe()">Add your Standards here</li>
                            </ol>
                            <!-- </div> -->
                        </div>
                        </div>
                    </div>
                    </div>
                    <div data-drop="true" data-ng-model='project.createStandardStep' jqyoui-droppable="{multiple:true}">
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title">Create: Build a prototype</h3>
                        </div>
                        <div class="panel-body">
                            <a name="8"><font size = "3">Engineers build prototypes and small models to test if their design ideas will work for their application. What kind of prototype or model will your students build? How will you support them in the building of this model?</font></a>
                            <span class="glyphicon glyphicon-question-sign"
                                data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you  want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                            </span>
                            <br>
                            <textarea class="form-control" rows="8" data-ng-model="project.createStep.buildStep"></textarea>
                            <br>
                            <div class="createStandardCart">
                            <!--<div class="ui-widget-content">
                             if this is wanted then add (adds a grey box which can be done a diff way probably) <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" /> to layout.server.view.html-->
                            <ol>
                                <li ng-repeat="item in project.createStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="project.createStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="project.createStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="createHideMe()">Add your Standards here</li>
                            </ol>
                            <!-- </div> -->
                        </div>
                        </div>
                    </div>
                    </div>
                    <div data-drop="true" data-ng-model='project.testStandardStep' jqyoui-droppable="{multiple:true}">
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title">Test and evaluate prototype</h3>
                        </div>
                        <div class="panel-body">
                            <a name="9"><font size = "3">Have students design 1-2 tests to evaluate their model, changing only one variable related to the performance requirements of their idea.</font></a>
                            <span class="glyphicon glyphicon-question-sign"
                                data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you  want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                            </span>
                            <br>
                            <textarea class="form-control" rows="8" data-ng-model="project.testStep.designStep"></textarea>
                            
                            <a name="10"><font size = "3">Ask: Does the test show the model solves the problem? How well? Why does it work well/ or not work well for the application?</font></a>
                            <span class="glyphicon glyphicon-question-sign"
                                data-toggle="tooltip" data-original-title="Share" title ="Identify a simple problem or question that ties in to your goal. Focus on this for the rest of the document. Relating back to the roller coasters, a major problem would be how Roller Coasters overcome gravity."> </span>
                            <br>
                            <textarea class="form-control" rows="4" data-ng-model="project.testStep.successStep"></textarea>
                            <br>
                            <div class="testStandardCart">
                            <!--<div class="ui-widget-content">
                             if this is wanted then add (adds a grey box which can be done a diff way probably) <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" /> to layout.server.view.html-->
                            <ol>
                                <li ng-repeat="item in project.testStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="project.testStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="project.testStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="testHideMe()">Add your Standards here</li>
                            </ol>
                            <!-- </div> -->
                        </div>
                        </div>
                    </div>
                    </div>
                    <div data-drop="true" data-ng-model='project.improveStandardStep' jqyoui-droppable="{multiple:true}">
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title">Improve: Redesign as needed</h3>
                        </div>
                        <div class="panel-body">
                            <a name="11"><font size = "3">Prompt: What would you change in the prototype next time?</font></a>
                            <span class="glyphicon glyphicon-question-sign"
                                data-toggle="tooltip" data-original-title="Share" title ="Try imagining a simple learning objective that you  want your students to gain from completing the assignment in mind. Make sure that this objective is broad enough so you can expand on it later. For example, 'I want to teach my students the science behind roller coasters' is a good, generic goal.">
                            </span>
                            <br>
                            <textarea class="form-control" rows="8" data-ng-model="project.improveStep.changeStep"></textarea>
                            <br>
                            <div class="improveStandardCart">
                            <!--<div class="ui-widget-content">
                             if this is wanted then add (adds a grey box which can be done a diff way probably) <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" /> to layout.server.view.html-->
                            <ol>
                                <li ng-repeat="item in project.improveStandardStep track by $index" ng-show="item.benchmark" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-ng-model="project.improveStandardStep" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.benchmark}}<span class="glyphicon glyphicon-trash" ng-click="project.improveStandardStep.splice($index,1)"></span></li>
                                <li class="placeholder" ng-hide="improveHideMe()">Add your Standards here</li>
                            </ol>
                            <!-- </div> -->
                        </div>
                        </div>
                    </div>
                    </div>                   
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title">Worksheet Upload</h3>
                        </div>
                        <div class="panel-body">
                            
                            <font size="3">If you would like to upload a worksheet for your project to share, you can do so here:</font><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                            <br>
                            <!-- Picture upload -->
                            <div class="form-group text-center" ng-init="setImgURL(project)">
                                <img data-ng-src="{{project.worksheetStep.theWorksheet}}" alt="No Picture Uploaded Yet" class="img-thumbnail">
                                    </div>
                            <div class="text-center form-group">
                                <span class="btn btn-default btn-file">
                                    Select Image <input type="file" nv-file-select uploader="uploader" accept="image/jpeg">
                                        </span>
                            </div>
                            <br>
                        </div>
                    </div>
                    


                  <!--   <!-- An absolutely horrible way to solve the bottom problem 
                  Doesnt seem needed for edit page
                        <span data-ng-init="essentialDetails.mathDetails.subjectName = 'Mathematics'"></span>
                        <span data-ng-init="essentialDetails.scienceDetails.subjectName = 'Science'"></span>
                        <span data-ng-init="essentialDetails.litDetails.subjectName = 'Literature'"></span>
                        <span data-ng-init="essentialDetails.ssDetails.subjectName = 'SocialStudies'"></span>
                        <!-- An absolutely horrible way to solve the bottom problem -->
                     

                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <button id="submit" type="button" class="btn btn-success btn-block btn-lg" data-ng-click="project.status = 'Active'; CombineStandards(); update();">Submit</button>
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                            <button type="button" class="btn btn-primary btn-block btn-lg" data-ng-click="project.status = 'In Progress'; CombineStandards(); update()";>Save Draft</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 main">
            <!--<span data-ng-hide="authentication.user._id===project.user._id">-->
            <span data-ng-hide="projectOwnership">
                <!-- goes in previous line after span... data-ng-hide="authentication.user._id===project.user._id"-->
                <div class="alert alert-success" role="alert">
                    <p>Project Page Not Available. This could be because you did not create this project, or you're not signed in to see it.</p>
                    <p><a data-ui-sref="home" class="alert-link">Click here to return to the home page</a></p>
                    <p><a data-ui-sref="projects.list" class="alert-link">Click here to search for a project</a></p>
                </div>
            </span>
        </div>
    </div>
    
    <div style="padding-top: 25%" data-ng-hide="project.user._id">
        <div style="display: flex;align-items: center; justify-content: center">
            <div style="color: #64bed8" class="la-cube-transition">
                <div></div>
                <div></div>
            </div>
        </div>
        <h2 class="text-center">Loading</h2>
    </div>
    
</section>
