<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div data-ng-show="project.user._id">
        <div class="container" id="list" data-ng-show="project.status==='Active'&&project.isPublic||authentication.user._id===project.user._id">
          

          <div class="panel-heading">
              <div style="font-size:2em; display: block;" class="sub-header">View Textbook Listing                       
              </div>
            </div>
            <div class="panel-body">
                <div>
                    Title:
                    <h4 class="input-group form-control"> {{project.title}}</h4>
                    Author: 
                    <h4 class="input-group form-control">{{project.author}}</h4>
                    ISBN: 
                    <h4 class="input-group form-control">{{project.isbn}}</h4>
                    Condition: 
                    <h4 class="input-group form-control">{{project.condition}}</h4>
                    Contact Information: 
                    <h4 class="input-group form-control">{{project.contactInformation}}</h4>
                    Edition: 
                    <h4 class="input-group form-control">{{project.edition}}</h4>
                    Instructor: 
                    <h4 class="input-group form-control">{{project.instructor}}</h4>
                    Location: 
                    <h4 class="input-group form-control">{{project.location}}</h4>
                    price: 
                    <h4 class="input-group form-control">{{project.price}}</h4>
                    Required: 
                    <h4 class="input-group form-control">{{project.required}}</h4>
                    Image: 
                    <h4 class="input-group form-control">{{project.url}}</h4>
                    <div class="logo">
                      <img src={{project.url}}>
                    </div>
                  </div>  
            </div>
        <br>
        <br>
        <br>
          
            
            
            <div class = "row" data-ng-show="authentication.user._id && authentication.user._id !== project.user._id">
                <div class="col-md-12">
                    <h2>Rate this Project: <!-- Uses string array from controller to decide which star glyphicon to use -->
                        <!-- ng-mouseleave has a timeout of 500ms so the stars don't update too quickly. Looks smoother. -->
                        <a href="#"><div class="{{glyphs[0]}}" style="font-size:1em" ng-mouseenter="rating_hover(1)"
                            ng-mouseleave="reset_hover()" ng-click="rating = 1; rate()"> </div></a>
                        <!-- When a star is hovered over, stars fill up to that star -->
                        <a href="#"><div class="{{glyphs[1]}}" style="font-size:1em" ng-mouseenter="rating_hover(2)"
                            ng-mouseleave="reset_hover()" ng-click="rating = 2; rate()"> </div></a>
                        <!-- When mouse leaves the star, the glyphicons reset to the current rating -->
                        <a href="#"><div class="{{glyphs[2]}}" style="font-size:1em" ng-mouseenter="rating_hover(3)"
                            ng-mouseleave="reset_hover()" ng-click="rating = 3; rate()"> </div></a>
                        
                        <a href="#"><div class="{{glyphs[3]}}" style="font-size:1em" ng-mouseenter="rating_hover(4)"
                            ng-mouseleave="reset_hover()" ng-click="rating = 4; rate()"> </div></a>
                        
                        <a href="#"><div class="{{glyphs[4]}}" style="font-size:1em" ng-mouseenter="rating_hover(5)"
                            ng-mouseleave="reset_hover()" ng-click="rating = 5; rate()"> </div></a>
                    </h2>
                    <!-- Shows user's rating - whether existing or new -->
                    <h4> {{getMyRating(authentication.user._id)}} </h4>
                    <br>
                    
                </div>
            </div>
            <div class="row" style="padding-bottom: 1%">
                <div class="col-md-12">
                    <div class="pull-right">
                            <!--
                            <a class="btn btn-success">
                                Confirm
                            </a>
                          -->
                            </div>
                    <!--<div class="pull-right" data-ng-show="authentication.user._id === project.user._id">-->
                        <div class="pull-right" data-ng-show="projectOwnership">
                        <a id="edit" class="btn btn-primary" data-ui-sref="projects.edit({projectId: project._id})">
                            Edit
                        </a>
                        <a id="delete" class="btn btn-danger" data-ng-click="remove()" data-ng-show="authentication.user._id === project.user._id">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 main">
            <span data-ng-hide="project.status==='Active'&&project.isPublic||projectOwnership">
                <div class="alert alert-success" role="alert">
                    <p>Project Page Not Available. This could be because the project isn't public, is in development, or you're not signed in to see it.</p>
                    <p><a data-ui-sref="home" class="alert-link">Click here to return to the home page</a></p>
                    <p><a data-ui-sref="projects.list" class="alert-link">Click here to search for a project</a></p>
                </div>
            </span>
        </div>
    </div>
    </div>
    
    <div style="padding-top: 25%" data-ng-hide="project.user._id">
        <div style="display: flex;align-items: center; justify-content: center">
            <div style="color: #64bed8" class="la-cube-transition">
                <div></div>
                <div></div>
            </div>
        </div>
        <h2 class="text-center">Loading</h2>
    </div>
</section>
