<section data-ng-controller="ProjectsController">
    <div class = "container" id="list">
                <div class="panel-heading">
              <div style="font-size:2em; display: block;" class="sub-header">View Textbook Listing                       
              </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="preview">
                          <img src="https://cdn-images-1.medium.com/max/1600/0*3EJN0Dg1VqMfhs1e.jpg">
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div>
                            <h3>JavaScript: The Definitive Guide</h4>
                            <h4>David Flanagan</h4>
                            <u>Textbook Information</u>
                            <div>ISBN: 9788565837484</div>
                            <div>Edition: 5th</div>
                            <div>Instructor: Christina Gardner-McCune</div>
                            <div>Required: Yes</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Price</th>
                            <th>Condition</th>
                            <th>Location</th>
                            <th>Contact</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>27.99</td>
                            <td>New</td>
                            <td>Gainesville, FL</td>
                            <td><a ng-href="mailto:jtolentino@ufl.edu">jtolentino@ufl.edu</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
    </div>
</section>